* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    min-height: 100vh;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    color:#fff;
    max-width: 500px;
    line-height: 70px;
    padding-left: 50px;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .contact-section {
        flex-direction: column;
    }
}
.contact-info,.contact-form {
    margin:30px 30px;

}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}


.contact-form {
    max-width: 700px;
    margin-right: 50px;
}
.contact-info, .contact-form {
    flex:1;
}
.contact-form h1{
    color:#fff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc (50% - 10px);
    height: 50px;
    padding: 12px;
    margin-bottom: 20px;
}
.contact-form textarea{
    background: #000;
    color:#fff;
    border:none;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    opacity: 1;

}
.contact-form .send-btn {
    float: right;
    background: #2e94e3;
    color: #fff;
    border:none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer
    transition:0.5s;
    transition-property:background;
}
.contact-form .send-btn:hover {
    background: #0582e3;
}
