*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

#navbar {
    background: #242526;
    opacity: 0.9;
    color: #Fdfcfa;
    overflow: auto;
    font-size: 18px;
}

#navbar a {
    color: #Fdfcfa;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

#navbar ul li a:hover{
    background: #3A3B3C;
}

.showcase {
    background: url('../images/friends.jpg') no-repeat center center/cover;
    height: 600px;
}

.main-text {
    font-size: 25px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.search-bar {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 0;
    padding: 55px 15px;
}